.global-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 3px;
}

.app-header {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);

    padding: 8px 16px;
    height: var(--app-header-height);

    .nav-links {
        display: flex;

        .nav-link {
            color: var(--mat-sys-on-primary-container);

            &.nav-link-selected {
                background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
            }
        }
    }
}

.app-content {
    padding: var(--app-container-padding);
    box-sizing: border-box;

    min-height: calc(100vh - var(--app-header-height));

    display: flex;
    flex-direction: column;
}
