@if (isLoading()) {
<mat-progress-bar mode="indeterminate" class="global-progress-bar"></mat-progress-bar>
}

<mat-toolbar class="app-header">
    <nav class="nav-links">
        <a class="nav-link" matButton routerLink="/dashboard" routerLinkActive="nav-link-selected">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </a>
        <a class="nav-link" matButton routerLink="/pokemon" routerLinkActive="nav-link-selected">
            <mat-icon>catching_pokemon</mat-icon>
            Pokemon
        </a>
        <span class="spacer"></span>
        @if (showDocumentationLink()) {
        <a class="nav-link" matButton href="/docs/index.html" target="_blank">
            <mat-icon>description</mat-icon>
            Documentation
        </a>
        }
    </nav>
</mat-toolbar>

<main class="app-content">
    <router-outlet />
</main>